@charset "UTF-8";

html{
    font-size: 12px;
}
body {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}


#scroll{
    color: black;
    margin: 10px;
    list-style: none;
    padding: 10px;
    background-color: lightblue;
    background-size: contain;
}
.länkar {
    color: black;
    margin: 10px;
    list-style: none;
    padding: 10px;
    background-color: lightblue;
    background-size: contain;
    
   
}
a:hover, a:visited, a:link, a:active {
     
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
a:hover, a:active {
    background-color: lightcyan;
  }
  
ul{
    list-style: square;
}

li{
   font-size: 1.2rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: midnightblue;
}

h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: darkslategray;
} 

img{
    max-width: fit-content;
    max-height: 338px;
    text-align: center;
}
