@charset "UTF-8";

html{
    font-size: 12px;
}
body {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
/*
#bild1{
    background-image: url(../img/imageproxy.jpg);
}
*/
.länkar {
    color: black;
    margin: 20px;
    list-style: none;
    padding: 10px;
    background-color: lightblue;
    display:inline-block;
   
}
a:hover, a:visited, a:link, a:active {
     
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

ul{
    list-style: square;
}

li{
   font-size: 1.2rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: midnightblue;
}

h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: darkslategray;
} 

img{
    max-width: 100%;
    max-height: 300px;
    text-align: center;
}
